<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card w-100 h-75 flex-grow-1 d-flex flex-column position-relative">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid position-relative">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="green"class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                    </svg>
                    <form class="d-flex">
                        <input id="usernameInput" class="form-control me-2" type="text" placeholder="Novo Nome do Utilizador" aria-label="Nome do Utilizador">
                </div>
            </nav>
            <div class="card-body flex-grow-1 overflow-auto">
                <div class="chat">
                   
                </div>
            </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control ms-2 rounded" placeholder="Escreve uma mensagem">
                    <button type="submit" class="btn btn-success ms-2 me-2 rounded">Enviar</button>
                    <button type="button" class="btn btn-danger me-2 rounded">Sair</button>
                </div>
            </form>

        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    
    <!-- Socket Io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>

    <script>
       window.onload = function() {
            const socket = io('http://127.0.0.1:5000');

            // Verifica se o nome do usuário já está armazenado localmente
            const storedUsername = localStorage.getItem('username');
            if (storedUsername) {
                document.getElementById('usernameInput').value = storedUsername;
            }

            function addToChat(msg) {
                const span = document.createElement("span");
                const chat = document.querySelector(".chat");
                span.innerHTML = `<strong>${msg.name}:</strong> ${msg.message}<br>`;
                chat.append(span);
            }

            socket.on('connect', () => {
                socket.send('Usuário conectado ao socket!')
            });

            document.querySelector("form").addEventListener("submit", function(event) {
                event.preventDefault();

                const username = event.target[0].value;
                // Armazena o nome do usuário localmente
                localStorage.setItem('username', username);
                
                socket.emit('sendMessage', {name: username, message: event.target[1].value})
                event.target[0].value = "";
                event.target[1].value = "";
            })

            socket.on('getMessage', (msg) => {
                addToChat(msg)
            })

            socket.on('message', (msgs) => {
                for(msg of msgs) {
                    addToChat(msg)
                }
            })

        }
    </script>
</body>
</html>
